
    <div class="row marketing">
        <div 
            class="page-header"              
            >
            <div ng-init="autor='Yo'">
                <p> 
                    <strong>Nombre: </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" ng-model="autor" width="100%">
                </p>
                <p>
                    <strong>
                        Se escribio: 
                    </strong>
                    &nbsp;&nbsp;&nbsp;
                    {{ autor }}
                </p>
            </div>
        </div>
    </div>